.myBgColor{
    background-color: #FFFBF0;
}
.heading-clr{
    color: #FABE4C;
}
.myButton{
    background-image: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-color: #A4BC46;
}
.jacket-background{
    background-color: #F1F1F1;
}